<%- include ("partials/header.ejs") %>

<body class = "gradient-background">
<% if(locals.bandName) { %>
<h1><%=bandName%></h1>

  <% }else { %>
   <h1> <%= "BAND NAME GENERATOR ðŸ¦" %></h1>
 <% } %>
<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>
</body>
<!-- Step 3 Add Footer -->

<%- include ("partials/footer.ejs") %>
